<div align="middle" class="restaurant-tile">
  <div class="restaurant-content">
    <img class="restaurant-image" src={{restaurant.image}} alt={{restaurant.name}} />
    <h3>{{restaurant.name}}</h3>
    <p>
      {{restaurant.cuisine}}
    </p>
    <p>
      AverageRating:
    </p>
    <p>
      {{averageRating}}
    </p>
    <button class="btn btn-primary" {{action 'seeReviews'}}>See this Restaurant's Reviews</button>
    {{#if seeReviews}}
    <br><br>
    <ol align="left">
      {{#each restaurant.ratings as |rating|}}
      <li>
      <p>
        {{rating.note}} -- {{rating.author}}
      </p>
      <p>
        Score: {{rating.score}}
      </p>
    </li>
      {{/each}}
    </ol>
    {{else}}
    <button class="btn btn-danger" {{action 'addToList' restaurant}}>Add Restaurant to Your List</button>
  {{#link-to 'restaurant' restaurant}}
    <button class="btn btn-info">Leave a Review</button>
  {{/link-to}}
    {{/if}}
    <br>
    <h4>
      Several Reviews? {{restaurant-rating restaurant}}
    </h4>
  </div>
</div>
